<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Racket test{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
        <link href="{{ asset('bower/jqueryui/themes/mint-choc/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bower/bootstrap-material-design/dist/css/material.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bower/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="{{ asset('bower/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bower/jqueryui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bower/bootstrap-material-design/dist/js/material.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script>
            $('.date').datepicker({
                showOn: 'button',
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-mm-yy',
                yearRange: "-0:+1"
            });
            $(function() {
                $.material.init();
            })
        </script>
    </body>
</html>
