{% extends 'base.html.twig' %}

{% block body %}
    <style>
        html, body {
            height: 100%;
        }

        .container {
            height: 100%;
            position: relative;
        }

        .centered {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>

    <div class="container">
        <div class="centered">
            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.dateStart, 'Date Start', { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
                {{ form_errors(form.dateStart) }}
                <div class="col-xs-10">
                    {{ form_widget(form.dateStart, { 'attr': {'class': 'date form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.dateEnd, 'Date End', { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
                {{ form_errors(form.dateEnd) }}
                <div class="col-xs-10">
                    {{ form_widget(form.dateEnd, { 'attr': {'class': 'date form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    {{ form_widget(form.get, { 'attr': {'class': 'btn btn-primary'}, 'label': "Get Report" }) }}
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



{% block javascripts %}

{% endblock %}
