{% extends 'base.html.twig' %}

{% block body %}
    <div class="count">
        Total items: {{ pagination.getTotalItemCount }}
    </div>
    <table class="table">
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'pm_id', 'p.itemId') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'price', 'p.price') }}</th>
            {% for date in dates %}
                <th>{{ date }}</th>
            {% endfor %}
        </tr>
        {% for item in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ item.itemId }}</td>
                <td>{{ item.price }}</td>
                {% for date in dates %}
                    {% if item.timestampDateStart == date|date("U") %}
                        <td>{{ item.count }}</td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
